<%= form_with(model: refeico) do |form| %>
  <% if refeico.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(refeico.errors.count, "erros") %> não permitiram salvar essa refeição:</h2>

      <ul>
        <% refeico.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text-box">
    <%= form.label :refeicao, style: "display: block" %>
    <%= form.text_field :refeicao, class: "form-control" %>
  </div>

  <div class="text-box">
  <%= form.label :data, style: "display: block" %>
  <%= form.date_field :data, class: "form-control", value: (form.object.data || Date.today).strftime("%d/%m/%Y") %>

  <%= form.label :descricao %>
  <%= form.text_field :descricao, class: 'form-control' %>

  <%= form.label :calorias %>
  <%= form.number_field :calorias, class: 'form-control', min: 1 %>
</div>


  <div>
    <%= form.submit "Criar refeição", class: "btn btn-primary" %>
  </div>
<% end %>
