<div class="text-box" id="<%= dom_id refeico %>">
  <p>
    <strong>Refeição:</strong>
    <%= refeico.refeicao %>
  </p>

  <p>
    <strong>Data:</strong>
    <% if refeico.data.present? %>
      <%= refeico.data.strftime("%d/%m/%Y") %>
    <% else %>
      N/A
    <% end %>
  </p>
  <p>
  <p>
    <strong>Descrição:</strong>
    <%= refeico.descricao %>
  </p>

  <p>
    <strong>Calorias:</strong>
    <%= refeico.calorias %>
  </p>

  </p>


</div>
