<p class="text-box"   style="color: green"><%= notice %></p>

<%= render @refeico %>

<div class="text-box">
  <%= link_to "Editar essa refeição", edit_refeico_path(@refeico) %> |
  <%= link_to "Voltar para refeições", refeicos_path %>

  <%= button_to "Deletar essa refeição", @refeico, method: :delete %>

  <%= link_to 'Voltar', dashboard_path %>
</div>
