<!-- app/views/appointments/_form.html.erb -->

<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> Impediram que esse agendamento fosse salvo:</h2>

      <ul>
        <% appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Data %>
    <%= form.date_field :date %>
  </div>

  <div class="field">
    <%= form.label :Hora %>
    <%= form.time_field :hour %>
  </div>

  <div class="field">
    <%= form.label :Nutricionista %>
    <%= form.text_field :doctor %>
  </div>

  <div class="actions">
  <%= form.submit (@appointment.new_record? ? 'Criar Agendamento' : 'Atualizar Agendamento') %>
  </div>

<% end %>
